export(tolist)
export(coeffs)
export(deviance)
export(fitted)
export(forwardrates)
export(ycplot)
export(residuals)
export(ycsummary)
export(ycextra)
export(ycinter)
importFrom("compiler", cmpfun)
importFrom("graphics", "abline", "hist", "lines", "par", "points")
importFrom("methods", "new")
importFrom("randtoolbox", "sobol")
importFrom("randtoolbox", "torus")
importFrom("stats", "density", "pf", "qqline", "qqnorm",
               "shapiro.test", "ts")
importFrom("stats", "median", "nlminb", "optim")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("graphics", plot)
importFrom("methods", setGeneric)